doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon',href='/favicon.ico', type='mage/x-icon')

    link(rel='bookmark', href='/favicon.ico')
    link(rel='icon', sizes='any mask ',href='//www.baidu.com/img/baidu_85beaf5496f291521eb75ba38eacbd87.svg')
  body
    block content
